<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Edit Book</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Edit Wine</h1>
<div>
	<form th:object="${wine}"  th:action="@{../save}" action="#" method="post">
		<input type="hidden" th:field="*{id}" class="form-control"/>
		<input type="text" th:field="*{name}" />
		
		<input type="text" th:field="*{type}" />
		
		<input type="text" th:field="*{year}" />
		
		<input type="text" th:field="*{price}" />
		
		<input type="text" th:field="*{alcohol}" />
		
		
		<select id="catlist" th:field="*{category}" class="form-control">
       			<option th:each="category: ${categorys}" th:value="${category.categoryid}" th:text="${category.name}"></option>
    		</select>
		
		<input type="submit" value="Save"></input>
	</form>
</div>